.markdownArea:not(.exclude) {
    text-align: left;
    font-size: large;
}

.markdownArea li {
    font-size: large;
}

.markdownArea em {
    background-color: #ffff66;
    font-style: normal;
}

@media screen and (max-width: 599px) {
    .markdownArea h2 {
        margin: 55px 0 25px;
        padding: 20px;
        color: white;
        background: linear-gradient(to top, #035c1d, #047c28);
        border-radius: 5px;
    }
    .markdownArea h3 {
        margin: 45px 0 20px;
        border-left: solid 10px #035c1d;
        border-bottom: solid 2px #035c1d;
        padding: 8px;
        border-radius: 2px;
    }
}
@media screen and (min-width: 600px) {
    .markdownArea h2 {
        margin: 75px 0 25px;
        padding: 20px;
        color: white;
        background: linear-gradient(to top, #035c1d, #047c28);
        border-radius: 5px;
    }
    .markdownArea h3 {
        margin: 65px 0 20px;
        border-left: solid 10px #035c1d;
        border-bottom: solid 2px #035c1d;
        padding: 8px;
        border-radius: 2px;
    }
}

.markdownArea h4 {
    margin: 45px 0 20px;
    border-left: solid 8px #035c1d;
    padding: 5px;
    border-radius: 2px;
}

.markdownArea img.renderedImg {
    display: inline-block;
    margin: 0px auto 20px;
    width: 100%;
    max-height: 450px;
    object-fit: contain;
    z-index: -120;
    position: relative;
}

.markdownArea table:not(.exclude) {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
}

.markdownArea table:not(.exclude) th:first-child {
    border-top-left-radius: 5px;
}

.markdownArea table:not(.exclude) th:last-child {
    border-top-right-radius: 5px;
    border-right: 1px solid #035c1d;
}

.markdownArea table:not(.exclude) th {
    text-align: center;
    color: white;
    background: linear-gradient(#035c1d, #047c28);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
    width: 25%;
    padding: 10px 5px;
}

.markdownArea table:not(.exclude) td {
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top: none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    width: 25%;
    padding: 10px 5px;
}

.markdownArea table:not(.exclude) td:last-child {
    border-right: 1px solid #a8b7c5;
}

.markdownArea table:not(.exclude) tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.markdownArea table:not(.exclude) tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.markdownArea hr {
    margin: 30px 0;
}

.markdownArea .greenBox {
    position: relative;
    padding: 25px 25px 12px 12px;
    color: black;
    border-radius: 10px;
    background: #e3f5d8;
    margin: 15px 0 25px;
    display: inline-block;
}
