<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='robots' content='noindex, nofollow' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <base href="%PUBLIC_URL%/" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <title>Page not found</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav variant="pills" class="navbar-inverse navbar-expand-md navbar-toggleable-md border-bottom box-shadow mb-3 navbar">
        <div class="container">
            <a class="navbar-brand" href="/">
                <b class="z-apps-title text-light" style="font-size:x-large; color:white;">Z-Apps</b>
            </a>
        </div>
    </nav>
    <center>
        <h1><b>Page not found!</b></h1>
        <hr />
        <img src="/images/404.png" width="50%" alt="404 error" title="404 error" />
        <p>Please check if the url is correct!</p><br />
        <button type="button" class="btn btn-primary" onclick="location.href='/'">Home</button><br />
        <br />
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- lingualninja_main_AdSense6_1x1_as -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8006404698960678"
             data-ad-slot="1116554323"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </center>
    <div style="height:60px;"></div>
</body>
</html>
