.kana-quiz #disp1 {
    max-width: 600px;
}

.kana-quiz h1 {
    margin: 30px;
}

.kana-quiz .related-articles {
    border: 5px double #333333;
    margin-bottom: 10px;
    padding: 10px;
}

.kana-quiz .font-large {
    font-size: large;
}

.kana-quiz .question {
    font-size: xx-large;
}

.kana-quiz #disp2 .btn {
    width: 100px;
    height: 100px;
    margin: 15px;
}

.kana-quiz #disp3 {
    max-width: 600px;
}
