.markdownArea em {
    background-color: #ffff66;
    font-style: normal;
}

.markdownArea h2 {
    margin: 55px 0 25px;
    padding: 20px;
    color: white;
    background: linear-gradient(to top, #035c1d, #047c28);
    border-radius: 5px;
}

.markdownArea h3 {
    margin: 45px 0 20px;
    border-left: solid 10px #035c1d;
    border-bottom: solid 2px #035c1d;
    padding: 8px;
    border-radius: 2px;
}

.markdownArea img {
    display: block;
    margin: 15 auto;
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    z-index: -120;
    position: relative;
}

.markdownArea table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
    background-color: white;
}

.markdownArea table th:first-child {
    border-radius: 5px 0 0 0;
}

.markdownArea table th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #035c1d;
}

.markdownArea table th {
    text-align: center;
    color: white;
    background: linear-gradient(#035c1d, #047c28);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
    width: 25%;
    padding: 10px 5px;
}

.markdownArea table td {
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top: none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    width: 25%;
    padding: 10px 5px;
}

.markdownArea table td:last-child {
    border-right: 1px solid #a8b7c5;
}

.markdownArea table tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

.markdownArea table tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}
